
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body {
    /* feel free to update these css variables for a quick theme */

    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/

--gold-crayola: #E9C490ff;
--coyote-brown: #8E6234ff;
--indian-yellow: #D7A050ff;
--rich-black-fogra-39: #060906ff;
--sapphire: #2457B1ff;
--rocket-metallic: #888180ff;
--prussian-blue: #143368ff;
--dark-moss-green: #505D2Eff;

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
    --gutter: 30px;
    --footer-height: 30px;

    font-family: 'Oxygen', sans-serif;
    background-color: var(--sapphire);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: var(--sapphire);
}

section {
    background-color: var(--indian-yellow);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--rich-black-fogra-39);
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: var(--rocket-metallic);
    border: solid 2px var(--rich-black-fogra-39);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
    text-align: start;
}

.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
